@charset "utf-8";

// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'EB Garamond', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    color: #333;
    background: #eee;
}
a {
    text-decoration: none;
}
ul {
    li {
        list-style: none;
    }
}
