@charset "utf-8";

// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'EB Garamond', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
    padding: 80px;
    background: #fff;
}
a {
    text-decoration: none;
}
ul {
    li {
        list-style: none;
    }
}

.box { // 仮スタイル
    background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
    border-radius: 5px;
    max-width: 400px;
    height: 250px;
}
.scrollTrigger { // 仮スタイル
    margin: 0 0 40px 0;
}
