.header {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 64px);   
    height: 58px;
    padding: 0;
    background: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    .leftHedder {
        padding: 8px 20px;
        .logo {
            img {
                height: 40px;
            }
        }
    }
    .rightHedder {
        display: flex;
        .phone {
            height: 58px;
            .phoneIcon {
                height: 100%;
            }         
        }
        .favorite {
            height: 58px;
            position: relative;
            .favoriteIcon {
                height: 100%;
            }     
            .countIcon {
                display: block;
                text-align: center;
                font-size: 10px;
                font-family: 'Poppins', sans-serif;
                letter-spacing: 0;
                color: #fff;
                padding: 2px 0;
                border-radius: 12px;
                background: #D1001B;
                position: absolute;
                top: 8px;
                right: 16px;
            }
            .countIcon.circle {
                width: 14px;
                height: 14px;
            }
            .countIcon.rectangle {
                width: auto;
                height: 16px;
                padding: 2px 6px;
                right: 8px;
            }   
        }
    }
    @media screen and (min-width:768px) {
        width: 100%;
        .leftHedder {
            display: flex;
            .logo {
                margin: 0 40px 0 0;
            }
            .navi {
                display: flex;
                position: relative;
                top: 2px;
                li {
                    margin: 0 20px 0 0;
                    a {
                        font-size: 12px;
                        font-weight: 500;
                        transition: .5s;
                        &:hover {
                            color: #D1001B;
                            padding: 0 0 8px;
                            border-bottom: 1px solid #D1001B;
                        }
                    }
                    .active {
                        color: #D1001B;
                        padding: 0 0 8px;
                        border-bottom: 1px solid #D1001B;
                    }
                    .megaMore {
                        display: inline;
                        font-size: 12px;
                        font-weight: 500;
                        color: #333;
                        background: none;
                        border: none;
                        outline: 0;
                        transition: .5s;
                        position: relative;
                        &:hover {
                            color: #D1001B;
                            padding: 0 0 8px;
                            border-bottom: 1px solid #D1001B;
                        }
                    }
                    .megaMore::before {
                        content: "サービス一覧";
                    }
                    .megaMore::after {
                        content: "";
                        display: inline-block;
                        background-image: url(../img/common/down_allow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 12px;
                        height: 12px;
                        margin: 0 0 0 12px;
                        position: relative;
                        top: 4px;
                    }
                    .megaMore.on-click::before {
                        content: "サービス一覧";
                    }
                    .megaMore.on-click::after {
                        content: "";
                        display: inline-block;
                        background-image: url(../img/common/up_arrow.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 12px;
                        height: 12px;
                        margin: 0 0 0 12px;
                        position: relative;
                        top: 4px;
                    }
                }
            }
        }
        .rightHedder {
            display: flex;
            align-items: center;
            .phoneIcon {
                height: 30px;
                margin: 0 20px 0 0;
            }
            .contact {
                height: 58px;
                .contactIcon {
                    height: 100%;
                }
            }
            .favorite {
                .countIcon {
                    top: 8px;
                    right: 24px;
                }
                .countIcon.rectangle {
                    right: 12px;
                }   
            }
        }
    }
    @media screen and (min-width:768px) and (max-width:864px) {
        .leftHedder {
            .navi {
                display: none;
            }
        }
    }
    @media screen and (min-width:1024px) {
        height: 80px;
        .leftHedder {
            padding: 24px 40px;
            .logo {
                position: relative;
                top: -4px;
                img {
                    height: 40px;
                }
            }
        }
        .rightHedder {
            .phoneIcon {
                height: 40px;
                margin: 0 40px 0 0;
            }
            .contact {
                height: 80px;
            }
            .favorite {
                height: 80px; 
                .countIcon {
                    top: 18px;
                    right: 36px;
                }
                .countIcon.rectangle {
                    right: 26px;
                }   
            }
        }
    }
    @media screen and (min-width:1150px) {
        .leftHedder {
            .navi {
                li {
                    margin: 0 32px 0 0;
                    a,
                    .megaMore {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.megaHide {
    display: none;
    .megamenu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 40px 80px;
        border-bottom: 1px solid #eee;
        background: #fff;
        position: fixed;
        top: 58px;
        left: 0;
        z-index: 10;
        h2 {
            font-size: 16px;
            span {
                display: block;
                font-size: 12px;
                font-weight: 400;
                font-family: 'Josefin Sans', sans-serif;
                color: #D1001B;
                margin: 10px 0 0 0;
            }
        }
        .megaService {
            display: flex;
            justify-content: space-between;
            width: 70%;
            ul {
                li {
                    font-size: 12px;
                    font-weight: 500;
                    margin: 0 0 16px 0;
                    span {
                        color: #D1001B;
                        margin: 0 6px 0 0;
                    }
                    a {
                        letter-spacing: 0;
                    }
                }
            }
        }
    }
    @media screen and (min-width:1024px) {
        .megamenu {
            border-bottom: 1px solid #eee;
            background: #fff;
            position: fixed;
            top: 80px;
            h2 {
                font-size: 20px;
                span {
                    font-size: 13px;
                    margin: 12px 0 0 0;
                }
            }
            .megaService {
                ul {
                    li {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0 0 24px 0;
                        span {
                            margin: 0 10px 0 0;
                        }
                    }
                }
            }
        }
    }
    @media screen and (min-width:1366px) {
        .megamenu {
            padding: 60px 160px;
        }
    }
}