.btnA {
    position: relative;
	overflow: hidden;
	text-decoration: none;
    font-size: 12px;
	display: inline-block;
   	border: 1px solid #555;
    padding: 16px 40px;
    text-align: center;
    outline: none;
    transition: ease .2s;
    span {
        position: relative;
        z-index: 3;
        color:#333;
    }
    &:hover span {
        color:#fff;
    }
}