.btnC {
    position: relative;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background: transparent;
    border-radius: 25px;
    border: solid 1px #333;
    outline: none;
    transition: all 0.2s ease;
}
.btnC:hover {
    border-color: transparent;
}
.btnC span {
    position: relative;
    z-index: 2;
    display: block;
    padding: 10px 30px;
    background: #fff;
    border-radius: 25px;
    color: #333;
    transition: all 0.3s ease;
}