.bordercircle3::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}
.bordercircle3::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}
.bordercircle3 span::after {
    right: 0;
    bottom: 0;
    transition-duration: 0.4s;
}
.bordercircle3 span::before {
    left: 0;
    top: 0;
    transition-duration: 0.4s;
}