.bordercircle3 {
    &::after {
        right:0;
        bottom: 0;
        transition-duration: 0.4s;
    }
    &::before{
        left: 0;
        top: 0;
        transition-duration: 0.4s;
    }
    span {
        &::after {
            right:0;
            bottom: 0;
            transition-duration: 0.4s;
        }
        &::before{
            left: 0;
            top: 0;
            transition-duration: 0.4s;
        }
    }
}