@charset "utf-8";

// font-family: 'Noto Sans JP', sans-serif;
// font-family: 'Noto Serif JP', serif;

* {
    font-family: 'Noto Serif JP', serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    background: #333;
    color: #fff;
}
body {
    overflow-x: hidden;
    background: #fff;
    overscroll-behavior: none;
}
a {
    text-decoration: none;
}
ul {
    li {
        list-style: none;
    }
}